{% load verbose_names static %}
<style>
    .resultado-examenes .box-uno {
        font-size: 1.2rem;
    }

    .resultado-examenes .box-dos {
        font-size: 0.9rem;
        padding-left: 15px;
    }

    .resultado-examenes .box-tres {
        font-size: 0.8rem;
        padding-left: 15px;
    }

    .resultado-examenes .box-cuatro {
        font-size: 0.7rem;
        padding-left: 20px;
    }
</style>
<div style="clear: both; page-break-after: always; page-break-before: always" class="grupo-examenes">
    <div style="text-align: center">
        <span class="grupo-subcups-titulo">{{ examen.examen.nombre }}</span><br/>
        DETECCIÓN Y CONTROL DE CÁNCER DE CUELLO UTERINO<br/>
        <strong>Sistema Bethesda 2014</strong>
    </div>
    <br/>
    {% if citologia.A1_1 or citologia.A1_2 or citologia.A3 %}
        <div class="box-uno" style="border: 1px black solid; padding: 1rem">
            CALIDAD DE LA MUESTRA

            <div class="box-dos">
                {% if citologia.A1_1 %}
                    {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_1 nombre_campo='A1_1' %}
                {% endif %}
                {% if citologia.A1_2 %}
                    {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_2 nombre_campo='A1_2' %}
                    {% get_verbose_field_name citologia "A1_2" %}
                {% endif %}
                {% if citologia.A3 %}
                    {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A3 nombre_campo='A3' %}
                {% endif %}

                <div class="box-tres">
                    {% if citologia.A1_1 or citologia.A1_2 %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_1a nombre_campo='A1_1a' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_1b nombre_campo='A1_1b' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_i nombre_campo='A1_i' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_ii nombre_campo='A1_ii' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_iii nombre_campo='A1_iii' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_iv nombre_campo='A1_iv' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_v nombre_campo='A1_v' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_vi nombre_campo='A1_vi' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A1_vii nombre_campo='A1_vii' %}
                    {% endif %}
                    {% if citologia.A3 %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A3a nombre_campo='A3a' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.A3b nombre_campo='A3b' %}
                    {% endif %}
                </div>

            </div>

        </div>
        <br/>
    {% endif %}

    {% if not citologia.A3 %}
        <div class="box-uno" style="border: 1px black solid; padding: 1rem">
            INTERPRETACIÓN

            {% if citologia.B1 %}
                <div class="box-dos">
                    {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1 nombre_campo='B1' %}
                    <div class="box-tres">
                        {% if citologia.B1a %}
                            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1a nombre_campo='B1a' %}
                            <div class="box-cuatro">
                                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1a_i nombre_campo='B1a_i' %}
                                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1a_ii nombre_campo='B1a_ii' %}
                                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1a_iii nombre_campo='B1a_iii' %}
                                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1a_iv nombre_campo='B1a_iv' %}
                            </div>
                        {% endif %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1b nombre_campo='B1b' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1c nombre_campo='B1c' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B1d nombre_campo='B1d' %}
                    </div>
                </div>
            {% endif %}

            <div class="box-dos">
                {% if citologia.B2 %}
                    {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B2 nombre_campo='B2' %}
                    <div class="box-tres">
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B2a nombre_campo='B2a' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B2b nombre_campo='B2b' %}
                    </div>

                {% endif %}

                {% if citologia.B3 %}

                    {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B3 nombre_campo='B3' %}
                    <div class="box-tres">
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B3a nombre_campo='B3a' %}
                    </div>

                {% endif %}

                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B4 nombre_campo='B4' %}
                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B5 nombre_campo='B5' %}


                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B6 nombre_campo='B6' %}
                <div class="box-tres">
                    {% if citologia.B6 and citologia.B6a %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B6a nombre_campo='B6a' %}
                        <div class="box-cuatro">
                            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B6a_i nombre_campo='B6a_i' %}
                            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B6a_ii nombre_campo='B6a_ii' %}
                        </div>
                    {% endif %}
                </div>
                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B7 nombre_campo='B7' %}

                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B8 nombre_campo='B8' %}
                <div class="box-tres">
                    {% if citologia.B8 %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B8a nombre_campo='B8a' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B8b nombre_campo='B8b' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B8c nombre_campo='B8c' %}
                        {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B8d nombre_campo='B8d' %}
                    {% endif %}
                </div>
                {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.B9 nombre_campo='B9' %}
            </div>
        </div>
    {% endif %}
    <br/>
    <div class="box-uno" style="border: 1px black solid; padding: 1rem">
        MICROORGANISMOS
        <div class="box-dos">
            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.C1 nombre_campo='C1' %}
            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.C2 nombre_campo='C2' %}
            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.C3 nombre_campo='C3' %}
            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.C4 nombre_campo='C4' %}
            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.C5 nombre_campo='C5' %}
            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.C6 nombre_campo='C6' %}
            {% include 'email/ordenes/resultados/especiales/2_plantilla_citologia/checkbox.html' with valor=citologia.C7 nombre_campo='C7' %}
        </div>
    </div>

    {% include 'email/ordenes/resultados/especiales/observaciones.html' with observaciones=citologia.observaciones %}
    <div>
        {% for firma in examen.mis_firmas.all %}
            {% include 'email/ordenes/resultados/firma_multiple.html' with firma=firma %}
        {% endfor %}
    </div>
</div>