$custom-color_1 = lightskyblue
body
  text-align justify
  font-size 14px
  font-family Arial

@page
  size US-Letter
  margin 8cm 2cm 2cm 2cm

  @top-right-corner
    content counter(page) " de " counter(pages)

@media screen
  html
    border solid 3px black

  body
    margin 8cm 2cm 2cm 2cm
    max-width 215mm !important
    min-width 215mm !important
    border solid 1px black

.prueba
  padding-left 0.5rem
  padding-right 0.5rem
  font-size 1rem
  border-right black 1px solid
  float left

.resultado-examenes
  color black
  .tabla
    font-size 1.1rem

  .resultado
    font-size 0.9rem

  .tecnica
    font-size 0.85rem
    color $custom-color_1

  .observaciones
    font-size 0.85rem
    color dimgray

  .nombre-examen
    font-size 1.1rem

  .valor-referencia
    font-size 0.9rem

  .info-adicional
    color lightskyblue

  .grupo-subcups-titulo
    font-size 1.8rem
    color $custom-color_1

  .especialista-especialidad
    font-size 0.9rem
  .especialista-nombre
    font-size 1

  .firma
    width 2.1in
    padding 10px
    text-align center

  .firma-imagen
    width 100%

  tr
    padding-top 0
    padding-bottom 0
    margin-top 0
    margin-bottom 0