body
  text-align justify
  font-size 10px

@page
  size US-Letter
  margin 8cm 2cm 2cm 2cm

  @top-right-corner
    content counter(page) " de " counter(pages)

@media screen
  html
    border solid 3px black

  body
    margin 8cm 2cm 2cm 2cm
    max-width 215mm !important
    min-width 215mm !important
    border solid 1px black

.prueba
  padding-left 0.5rem
  padding-right 0.5rem
  border-right black 1px solid
  float left

.h1e
  font-size 2rem

.h2e
  font-size 1.7rem

.h3e
  font-size 1.5rem

.h4e
  font-size 1.3rem

.h5e
  font-size 1rem

.h6e
  font-size 0.8rem

.h7e
  font-size 0.6rem

.h8e
  font-size 0.5rem

.info-adicional
  color grey