body {
  text-align: justify;
  font-size: 14px;
  font-family: Arial;
}
@page {
  size: US-Letter;
  margin: 8cm 2cm 2cm 2cm;
  @top-right-corner {
    content: counter(page) " de " counter(pages);
  }
}
@media screen {
  html {
    border: solid 3px #000;
  }
  body {
    margin: 8cm 2cm 2cm 2cm;
    max-width: 215mm !important;
    min-width: 215mm !important;
    border: solid 1px #000;
  }
}
.prueba {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  border-right: #000 1px solid;
  float: left;
}
.resultado-examenes {
  color: #000;
}
.resultado-examenes .tabla {
  font-size: 1.1rem;
}
.resultado-examenes .resultado {
  font-size: 0.9rem;
}
.resultado-examenes .tecnica {
  font-size: 0.85rem;
  color: #87cefa;
}
.resultado-examenes .observaciones {
  font-size: 0.85rem;
  color: #696969;
}
.resultado-examenes .nombre-examen {
  font-size: 1.1rem;
}
.resultado-examenes .valor-referencia {
  font-size: 0.9rem;
}
.resultado-examenes .info-adicional {
  color: #87cefa;
}
.resultado-examenes .grupo-subcups-titulo {
  font-size: 1.8rem;
  color: #87cefa;
}
.resultado-examenes .especialista-especialidad {
  font-size: 0.9rem;
}
.resultado-examenes .especialista-nombre {
  font-size: 1;
}
.resultado-examenes .firma {
  width: 2.1in;
  padding: 10px;
  text-align: center;
}
.resultado-examenes .firma-imagen {
  width: 100%;
}
.resultado-examenes tr {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
