@page {
  text-align: justify;
  font-family: Arial;
  size: 21.6cm 13.95cm;
  margin: 0.7cm 0.7cm 0.7cm 0.7cm;
  @top-center {
    font-size: 0.7rem;
    content: counter(page) " de " counter(pages);
  }
}
