$custom-color_1 = deepskyblue
@page
  text-align justify
  font-family Arial
  size 21.6cm (27.9/2)cm
  margin 0.7cm 0.7cm 0.7cm 0.7cm

  @top-center
    font-size 0.7rem
    content counter(page) " de " counter(pages)