{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pdf_ordenes_resultado.min.css' %}">
</head>
<body>
<p>
    Le adjuntamos en el correo la información correspondiente a los examenes.
</p>
<p>
    El archivo se encuentra encritado con su número de Identificación. Para abrirlo digite su número de cédula.
</p>
</body>
</html>