{% load l10n %}
<style>
    .datos-resultados {
        font-size: 0.7rem;
        margin-left: -1.2cm;
        margin-top: -0.4cm;
    }

    .td1 {

    }

    .td2 {
        padding-left: 2rem;
    }
</style>
<div style="text-align: justify; width: 15cm" class="datos-resultados">
    <table>
        {% localize off %}
            <tr>
                <td class="td1"><strong>Nro. Orden: </strong>{{ orden.nro_orden }}</td>
                <td class="td2">{% if examen %}<strong>Nro. Examen: </strong>
                    {{ examen.nro_examen }}{% if nro_examen_especial %} (
                        {{ nro_examen_especial }}){% endif %}{% endif %}</td>
            </tr>
        {% endlocalize %}
        <tr>
            <td class="td1"><strong>Paciente: </strong>{{ paciente.full_name|title }}</td>
            <td class="td2"></td>
        </tr>
        <tr>
            <td class="td1"><strong>Edad: </strong>{{ paciente.fecha_nacimiento|timesince:orden.created }}</td>
            <td class="td2"><strong>Id: </strong>{{ paciente.identificacion|title }}</td>
        </tr>
        <tr>
            <td class="td1"><strong>Teléfono: </strong>{{ orden.numero_contacto_alternativo }}</td>
            <td class="td2"><strong>Entidad: </strong>{{ entidad.nombre|title }}</td>
        </tr>
        <tr>
            <td class="td1"><strong>Médico Remitente: </strong>{{ medico_remitente.full_name|title }}</td>
            <td class="td2"><strong>Generado: </strong>{% now "d \d\e F \d\e Y \a\ \l\a\s H:i" %}
            </td>
        </tr>
    </table>
</div>