{% load l10n %}
<style>
    .datos-resultados {
        width: 100%;
        border-bottom: lightgray 1px solid;
        font-family: 'Arial';
        font-size: 0.7rem;
        margin-left: -1.2cm;
    }

    .td1 {
        width: 2.5cm;
    }

    .td2 {
        width: 3cm;
    }

    .td3 {
        width: 4cm;
    }

    .td4 {
        width: 8cm;
    }
</style>
<div class="datos-resultados">
    <table>
        <tr style="height: 0.5cm">
            <td></td>
            <td></td>
        </tr>
        {% localize off %}
            <tr>
                <td class="td1"><strong>Nro. Orden: </strong></td>
                <td class="td2">
                    {{ orden.nro_orden }}{% if nro_examen_especial %}-{{ nro_examen_especial }}{% endif %}
                </td>
                <td class="td3"></td>
                <td class="td4"></td>
            </tr>
        {% endlocalize %}
        <tr>
            <td class="td1"><strong>Paciente: </strong></td>
            <td colspan="3" class="td2">{{ orden.paciente.full_name|title }}</td>
        </tr>
        <tr>
            <td class="td1"><strong>
                <strong>Identificación: </strong>
            </strong></td>
            <td class="td2">{{ paciente.tipo_documento|title }}. {{ paciente.nro_identificacion }}</td>
            <td class="td3"><strong>Fecha Ingreso:</strong></td>
            <td class="td4">{% if orden.fecha_ingreso %}{{ orden.fecha_ingreso|date:"d-b-Y (h:i a)" }}{% else %}
                {{ orden.created|date:"d-b-Y (H:i)" }}{% endif %}</td>
        </tr>
        <tr>
            <td class="td1"><strong><strong>Genero:</strong> </strong></td>
            <td class="td2">{{ paciente.get_genero_display }}</td>
            {% if examen %}
                <td class="td3"><strong>Fecha Verificación:</strong></td>
                <td class="td4">{{ examen.fecha_verificado|date:"d-b-Y (h:i a)" }}</td>
            {% else %}
                <td class="td3"></td>
                <td class="td4"></td>
            {% endif %}
        </tr>
        <tr>
            <td class="td1"><strong><strong>Edad:</strong> </strong></td>
            <td class="td2">{{ paciente.fecha_nacimiento|timesince:orden.created }}</td>
            <td class="td3"><strong>Entidad:</strong></td>
            <td class="td4">{{ entidad.nombre|title|truncatechars:60 }}</td>
        </tr>
        <tr>
            <td class="td1"><strong><strong>Teléfono:</strong> </strong></td>
            <td class="td2">{% if paciente.telefono %}{{ paciente.telefono }}{% endif %}</td>
            <td class="td3">
                {% if medico_remitente %}<strong>Médico Remitente: </strong>{% endif %}
            </td>
            <td class="td4">
                {% if orden.medico_remitente %}{{ medico_remitente.full_name|title|truncatechars:60 }}{% endif %}
            </td>
        </tr>
    </table>
</div>