<div class="firma" style="float: left">
    {% if firma %}
        <img class="firma-imagen" src="{{ firma.especialista.firma.url }}" alt="">
    {% endif %}
    <div>
        <span class="especialista-nombre">{{ firma.especialista.full_name }}</span><br/>
        <span class="especialista-especialidad"><small>{{ firma.especialista.especialidad.nombre }}
            {% if firma.especialista.registro_profesional %}(TP:{{ firma.especialista.registro_profesional }}
                ){% endif %}</small></span>
    </div>
</div>