{% regroup una_firma|dictsort:"especialista.id" by especialista as especialista_list %}
{% for especialista in especialista_list %}
    <div class="mb-2">
        {% regroup especialista.list|dictsort:"orden_examen.examen.subgrupo_cups.nombre" by orden_examen.examen.subgrupo_cups.nombre as grupo_cup_list %}
        {% for grupo in grupo_cup_list %}
            <div style="clear: both; page-break-inside:avoid ">
                <div style="width: 100%; text-align: center">
                    <span class="grupo-subcups-titulo">{{ grupo.grouper }}</span>
                </div>
                <table class="table table-striped tabla">
                    <thead>
                    <tr>
                        <th>Examen</th>
                        <th>Resultado</th>
                        <th>Valor Referencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for examen in grupo.list %}
                        {% if not examen.orden_examen.examen.especial %}
                            <tr>
                                <td style="width: 45%">
                                    <span class="nombre-examen">{{ examen.orden_examen.examen.nombre }}</span><br/>
                                    {% if examen.orden_examen.tecnica %}
                                        <div class="tecnica">
                                            <strong>Técnica: </strong>{{ examen.orden_examen.tecnica }}
                                        </div>
                                    {% endif %}
                                    {% if examen.orden_examen.observaciones %}
                                        <div class="observaciones">
                                            <strong>Observaciones: </strong>{{ examen.orden_examen.observaciones }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="resultado" style="width: 27.5%">{{ examen.orden_examen.resultado }} {{ examen.orden_examen.examen_unidad_medida }}</td>
                                <td style="width: 27.5%"
                                    class="valor-referencia">{{ examen.orden_examen.examen_valor_referencia }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        {% endfor %}
        <div>
            {% include 'email/ordenes/resultados/firma.html' %}
        </div>
    </div>
{% endfor %}