{#style="page-break-after: always;#}
{% regroup multifirma|dictsort:"examen.subgrupo_cups.nombre" by examen.subgrupo_cups.nombre as grupo_cup_list %}
{% for grupo in grupo_cup_list %}
    <div style="clear: both; page-break-inside:avoid " class="grupo-examenes-multifirma">
        <div style="width: 100%; text-align: center">
            <span class="grupo-subcups-titulo">{{ grupo.grouper }}</span>
        </div>
        {% for orden_examen in grupo.list %}
            {% if not orden_examen.examen.especial %}

                <table class="table table-striped tabla">
                    <thead>
                    <tr>
                        <th>Examen</th>
                        <th>Resultado</th>
                        <th>Valor Referencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 45%">
                            <span class="nombre-examen">{{ orden_examen.examen.nombre }}</span><br/>
                            {% if orden_examen.tecnica %}
                                <div class="tecnica">
                                    <strong>Técnica: </strong>{{ orden_examen.tecnica|title }}
                                </div>
                                <div class="fecha_validacion">
                                    <strong>
                                        Fecha Validación:
                                    </strong>{{ examen.orden_examen.fecha_verificado|date:"d-b-Y (h:i a)" }}
                                </div>
                            {% endif %}
                            {% if orden_examen.observaciones %}
                                <div class="observaciones">
                                    <strong>Observaciones: </strong>{{ orden_examen.observaciones }}
                                </div>
                            {% endif %}
                        </td>
                        <td style="width: 27.5%">{{ orden_examen.resultado }} {% if orden_examen.examen_unidad_medida %}
                            {{ orden_examen.examen_unidad_medida }} {% endif %}</td>
                        <td class="valor-referencia" style="width: 27.5%">
                            {% if orden_examen.examen_valor_referencia %}
                                {{ orden_examen.examen_valor_referencia }} {% endif %}</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    {% for firma in orden_examen.mis_firmas.all %}
                        {% include 'email/ordenes/resultados/firma_multiple.html' with firma=firma %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}