{% load number_to_word static l10n %}
<style>
    div {
        font-family: 'Calibri';
        font-size: 10px;
    }

    .datos {
        font-size: 0.6rem;
        margin-left: -1.2cm;
        margin-top: -0.4cm;
    }

    .datos .td1 {
        width: 2.5cm;
    }

    .datos .td2 {
        width: 3cm;
    }

    .datos .td3 {
        width: 3cm;
    }

    .datos .td4 {
        width: 4cm;
    }

    .recibo {
        color: #000;
        font-size: 12px;
    }

    .recibo tr {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .recibo table {
        border-collapse: collapse;
        width: 100%;
    }

    .recibo th,
    .recibo td {
        font-size: 10px;
        text-align: left;
        padding: 1px;
        border-bottom: 1px solid #ddd;
    }

    .recibo .dinero {
        text-align: right;
    }

    .recibo tr:nth-child(even) {
        background-color: #f2f2f2
    }

    .recibo td, .recibo th {
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }

    .info-consulta-web {
        font-size: 10px;
        margin-top: 0.5rem;
    }
</style>
<div>
    <table style="width: 100%">
        <tr>
            <td style="text-align: justify; width: 10cm" class="datos">
                <table>
                    <tr>
                        {% localize off %}
                            <td class="td1"><strong>Nro. Orden: </strong></td>
                            <td class="td2" style="color: red;">{{ orden.nro_orden }}</td>
                            <td class="td3"></td>
                            <td class="td4"></td>
                        {% endlocalize %}
                    </tr>
                    <tr>
                        <td class="td1"><strong>Paciente: </strong></td>
                        <td colspan="3" class="td2">{{ orden.paciente.full_name|title }}</td>
                    </tr>
                    <tr>
                        <td class="td1"><strong>
                            <strong>Identificación: </strong>
                        </strong></td>
                        <td class="td2">{{ orden.paciente.tipo_documento|title }}.{{ orden.paciente.nro_identificacion }}</td>
                        <td class="td3"><strong>Fecha Ingreso:</strong></td>
                        <td class="td4">{{ orden.created|date:"d-b-Y (H:i)" }}</td>
                    </tr>
                    <tr>
                        <td class="td1"><strong><strong>Genero:</strong> </strong></td>
                        <td class="td2">{{ orden.paciente.get_genero_display }}</td>
                        <td class="td3"><strong>Fecha Impresión:</strong></td>
                        <td class="td4">{% now "d-b-Y (H:i)" %}</td>
                    </tr>

                    <tr>
                        <td class="td1"><strong><strong>Edad:</strong> </strong></td>
                        <td class="td2">{{ orden.paciente.fecha_nacimiento|timesince:orden.created }}</td>
                        <td class="td3"><strong>Entidad:</strong></td>
                        <td class="td4">{{ orden.entidad.nombre|title|truncatechars:30 }}</td>
                    </tr>

                    <tr>
                        <td class="td1"><strong><strong>Teléfono:</strong> </strong></td>
                        <td class="td2">{{ orden.paciente.telefono }}</td>
                        <td class="td3">
                            {% if orden.medico_remitente %}<strong>Médico Remitente: </strong>{% endif %}
                        </td>
                        <td class="td4">
                            {% if orden.medico_remitente %}{{ orden.medico_remitente.full_name|title|truncatechars:30 }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td1"><strong><strong>Forma de Pago: </strong> </strong></td>
                        <td class="td2">{{ orden.get_tipo_pago_display }}</td>
                    </tr>
                </table>
            </td>
            <td style="width: 7cm; text-align: right">
                Cra 42 Nro 5B53 (2do PISO)<br/>
                B. Tequendama - Cali<br/>
                Cel: 3182032203<br/>
                Tel: 403 11 98<br/>
                mylabcollazos@hotmail.com <br/>
                NIT: 800.200.522-3
            </td>
            <td style="text-align: right">
                <img style="width: 2cm" src="{% static 'img/logo.png' %}" alt="">
            </td>
        </tr>
    </table>
    <div class="recibo">
        <table class="table table-striped tabla">
            <thead>
            <tr>
                <th style="width: 70%">Examen</th>
                <th class="dinero" style="width: 10%">Valor</th>
                <th class="dinero" style="width: 10%">Descuento</th>
                <th class="dinero" style="width: 10%">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for examen in orden.mis_examenes.all %}
                <tr>
                    <td>
                        {{ examen.examen_nombre }}
                    </td>
                    <td class="dinero">
                        $ {{ examen.valor_total|floatformat }}
                    </td>
                    <td class="dinero">
                        $ {{ examen.valor_descuento|floatformat }}
                    </td>
                    <td class="dinero">
                        $ {{ examen.valor_final|floatformat }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td><strong>Valor a pagar el paciente</strong></td>
                <td class="dinero"><strong>$ {{ orden.valor_total|floatformat }}</strong></td>
                <td class="dinero"><strong> $ {{ orden.valor_descuento|floatformat }}</strong></td>
                <td class="dinero" style="border-bottom: black double"><strong>
                    $ {{ orden.valor_final|floatformat }}</strong></td>
            </tr>
            </tfoot>
        </table>
        <div>
            {% number_to_word orden.valor_final %}
        </div>
        <div><strong>Elaborado por: </strong>{{ orden.elaborado_por.get_full_name }}</div>
        <div class="info-consulta-web">
            Si desea consultar por internet sus exámenes:<br/>
            Diríjase a <strong>COLLAZOSLABORATORIO.COM</strong> y en <strong>RESULTADOS</strong>, digíte su número de
            documento y utilice su código de
            consulta de la orden <strong>{{ orden.codigo_consulta_web }}</strong>
        </div>
    </div>
</div>