{% load static %}
<div style="width: 8in">
    <table style="width: 100%">
        <tr>
            <td style="width: 20%"><img style="width: 130px" class="logo" src="{% static 'img/logo.png' %}" alt=""></td>
            <td style="width: 80%; text-align: center">
                <p>
                    Cra 42 Nro 5B53 (2do PISO)<br/>
                    B. Tequendama - Cali<br/>
                    Tel: 403 11 98 - PBX: 553 27 37 - Cel: 3182032203<br/>
                    mylabcollazos@hotmail.com <br/>
                    NIT: 800.200.522-3
                </p>
            </td>
        </tr>
    </table>
</div>